html,body{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    color: white;
    
}
.m_header{
    display: flex;
    justify-content: center;
    background-color: #e3342f;
    color: white;
    >img{
        width: 50px;
        height: 50px;
        margin-top: 8px;
    }
    >p{
        font-weight: bold;
        font-size: 21px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    span{
        color: yellow;
    }
    >a{
        color: white;
        text-decoration: none;
        font-size: 21px;
        margin-top: 1.3rem;
        font-weight: bold;
    }
    >a:hover{
        color: black;
    }

}
.row1{
    display: flex;
    .col2{
        width: 20.7rem;
        margin: 0;
        background-color: #2175b9;
        text-align: center;
        >p{
            font-weight: bold;
            font-size: 20px;
        }
        .ca_benh{
            font-size: 17px;
            margin-bottom: 4rem;
        }
        .link{
            font-size: 17px;
        }
        >table{
            background-color: #147ed6;
            border-collapse: collapse;
            width: 100%;
            td, th {
                text-align: left;
                padding: 8px;
                }
            }
                }
    }
    .footer{
        text-align: center;
        >p{
            font-size: 15px;
            margin: 0;
            padding-top: 1rem;
        }
        background-color: #6cb2eb;
        height: 15vh;
    }
