.cgr__wrap{
  margin: 1rem;
    .cgr__col1{
        height: 40vh;
        width: 100%;
        overflow-x:scroll;
        
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even) {
            background-color: #dddddd;
          }
    }
    form{
      >div{
        display: flex;
      select{
        width: 25%;
      }}
      >input{
        width: 10%;
        
      }
      #color{
        width: 10%;
        margin-bottom: 1rem;
      }
      #file{
        width: 15%;
        margin-bottom: 1rem;
      }
    }
    
}

